/*mockup image css*/
#Imac0 {
  margin-top: 200px;
}

#Ipad0{
  margin-top: 400px;
}

#Iphone0{
  margin-top: 389px;
}

.device-mockup .imac{

}

.device-mockup .iphone6_plus{

}
.device-mockup .ipad{
  
}
